{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Alva Energi{% endblock %}

{% block page_content %}
    <div class="page-header">
      <h1>Real-Time Data Streaming from Jakarta OpenAPI</h1>
    </div>
    <div class="post-tabs">
        <h3>Location of All Puskesmas in Jakarta</h3>
        <iframe src="{{ url_for('main.jkt_puskesmas') }}" height="400" width="500"></iframe>
    </div>
    <div class="post-tabs">
        <h3>Latest News from Jakarta Smart City</h3>
        {% for news in newsList %}
          <li><a href={{ news.url }}>{{ news.title }}</a></li>
        {% endfor %}
    </div>
    <div class="post-tabs">
        <h3>Latest Events from Jakarta Smart City</h3>
        {% for events in eventsList %}
          <li><a href={{ events.url }}>{{ events.title }}</a></li>
        {% endfor %}
    </div>
    <div class="post-tabs">
        <h3>Live CCTV from {{ cctvName }}</h3>
        <iframe src="{{ cctvURL }}" height="400" width="500"></iframe>
    </div>
{% endblock %}
