{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Alva Energi{% endblock %}

{% block page_content %}
    <div class="page-header">
      <h1>Solar PV Monitoring System - Admin</h1>
    </div>
    <div class="col-md-4">
      <h3>Pulau Geranting, Indonesia</h2>
        <iframe src="http://www.openstreetmap.org/export/embed.html?bbox=103.64604949951173%2C0.8730359780906259%2C103.88946533203126%2C1.074193962329908&amp;layer=mapnik&amp;marker=0.9736164704784636%2C103.76775741577148"></iframe>
    </div>
    <div class="col-md-4">
      <iframe src="https://data.sparkfun.com/solar_geranting" height="400" width="500"></iframe>
    </div>
{% endblock %}
