<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_c9d9b40bf91343259101ea7881af3cb4 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c9d9b40bf91343259101ea7881af3cb4" ></div>
        
</body>
<script>    
    

            
                var southWest = L.latLng(-90, -180);
                var northEast = L.latLng(90, 180);
                var bounds = L.latLngBounds(southWest, northEast);
            

            var map_c9d9b40bf91343259101ea7881af3cb4 = L.map(
                                  'map_c9d9b40bf91343259101ea7881af3cb4',
                                  {center: [-6.21462,106.865],
                                  zoom: 10,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_8987dc2be24d4483b0806081d41a229c = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    continuousWorld: false,
                    noWrap: false,
                    attribution: 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                    detectRetina: false
                    }
                ).addTo(map_c9d9b40bf91343259101ea7881af3cb4);

        
    

            var marker_61890641bb87446487b807e7d73531a8 = L.marker(
                [-6.351944,106.814163],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_dd6da86facbf4862b840b5738bbdb546 = L.popup({maxWidth: '300'});

            
                var html_ef6d08fc1a7e4d48a2e5702a89fbe27b = $('<div id="html_ef6d08fc1a7e4d48a2e5702a89fbe27b" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN JAGAKARSA</div>')[0];
                popup_dd6da86facbf4862b840b5738bbdb546.setContent(html_ef6d08fc1a7e4d48a2e5702a89fbe27b);
            

            marker_61890641bb87446487b807e7d73531a8.bindPopup(popup_dd6da86facbf4862b840b5738bbdb546);

            
        
    

            var marker_18e4835ead98410dbacc185dfa461204 = L.marker(
                [-6.320833,106.825554],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_b7284f71408f461587b0405b008ab3e0 = L.popup({maxWidth: '300'});

            
                var html_f780d91160a0477594c396ae6da486a9 = $('<div id="html_f780d91160a0477594c396ae6da486a9" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PASAR MINGGU</div>')[0];
                popup_b7284f71408f461587b0405b008ab3e0.setContent(html_f780d91160a0477594c396ae6da486a9);
            

            marker_18e4835ead98410dbacc185dfa461204.bindPopup(popup_b7284f71408f461587b0405b008ab3e0);

            
        
    

            var marker_a600f8c951b5421faa2c86d4d0582f5c = L.marker(
                [-6.286667,106.793053],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_88047e291ea74329b433d12cead82205 = L.popup({maxWidth: '300'});

            
                var html_4c21b9004d2e472eb28fab90a12e8a7f = $('<div id="html_4c21b9004d2e472eb28fab90a12e8a7f" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CILANDAK</div>')[0];
                popup_88047e291ea74329b433d12cead82205.setContent(html_4c21b9004d2e472eb28fab90a12e8a7f);
            

            marker_a600f8c951b5421faa2c86d4d0582f5c.bindPopup(popup_88047e291ea74329b433d12cead82205);

            
        
    

            var marker_36bdc68137d544cf957936e5804d43f2 = L.marker(
                [-6.245278,106.752777],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_6f8941e37ac8486c9f952ef26ceb7c5a = L.popup({maxWidth: '300'});

            
                var html_b5092d78248441478ef04e1c8dbe2909 = $('<div id="html_b5092d78248441478ef04e1c8dbe2909" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PESANGGRAHAN</div>')[0];
                popup_6f8941e37ac8486c9f952ef26ceb7c5a.setContent(html_b5092d78248441478ef04e1c8dbe2909);
            

            marker_36bdc68137d544cf957936e5804d43f2.bindPopup(popup_6f8941e37ac8486c9f952ef26ceb7c5a);

            
        
    

            var marker_afc6a10e02714fd6b2e7bf6bf41a6b63 = L.marker(
                [-6.249722,106.778053],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_181372b4fbe14bf784ebf91a3c4b9738 = L.popup({maxWidth: '300'});

            
                var html_472fc8f36c7445ad9d829769a787ac7f = $('<div id="html_472fc8f36c7445ad9d829769a787ac7f" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KEBAYORAN LAMA</div>')[0];
                popup_181372b4fbe14bf784ebf91a3c4b9738.setContent(html_472fc8f36c7445ad9d829769a787ac7f);
            

            marker_afc6a10e02714fd6b2e7bf6bf41a6b63.bindPopup(popup_181372b4fbe14bf784ebf91a3c4b9738);

            
        
    

            var marker_d5d42740c9b64e20b3fa8385199e1880 = L.marker(
                [-6.247222,106.805557],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_73f4db0a08b44c6b83ce3a91b834b8c6 = L.popup({maxWidth: '300'});

            
                var html_15447ac66988419e95cbb22816e266af = $('<div id="html_15447ac66988419e95cbb22816e266af" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KEBAYORAN BARU</div>')[0];
                popup_73f4db0a08b44c6b83ce3a91b834b8c6.setContent(html_15447ac66988419e95cbb22816e266af);
            

            marker_d5d42740c9b64e20b3fa8385199e1880.bindPopup(popup_73f4db0a08b44c6b83ce3a91b834b8c6);

            
        
    

            var marker_acfc2983df1643f386c34fdcc9915688 = L.marker(
                [-6.271389,106.819725],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_eda7f863512c4e078e375d52b075532d = L.popup({maxWidth: '300'});

            
                var html_c664b2be76e3459189a160c2354345e8 = $('<div id="html_c664b2be76e3459189a160c2354345e8" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN MAMPANG PRAPATAN</div>')[0];
                popup_eda7f863512c4e078e375d52b075532d.setContent(html_c664b2be76e3459189a160c2354345e8);
            

            marker_acfc2983df1643f386c34fdcc9915688.bindPopup(popup_eda7f863512c4e078e375d52b075532d);

            
        
    

            var marker_c9970e2079cf4d2a8748b01d860199f3 = L.marker(
                [-6.255278,106.839165],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_721d81b7553b45e9bdea2128443d1473 = L.popup({maxWidth: '300'});

            
                var html_bcf8604eab2e4859a1c7f2f1cbea91bb = $('<div id="html_bcf8604eab2e4859a1c7f2f1cbea91bb" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PANCORAN</div>')[0];
                popup_721d81b7553b45e9bdea2128443d1473.setContent(html_bcf8604eab2e4859a1c7f2f1cbea91bb);
            

            marker_c9970e2079cf4d2a8748b01d860199f3.bindPopup(popup_721d81b7553b45e9bdea2128443d1473);

            
        
    

            var marker_fb3d273d51864a7db538c467f4ed9b91 = L.marker(
                [-6.235556,106.856667],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_84e3fba9191e409f9fc865b676e3455d = L.popup({maxWidth: '300'});

            
                var html_34077a30024c4e25bbb90ed278163b6c = $('<div id="html_34077a30024c4e25bbb90ed278163b6c" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN TEBET</div>')[0];
                popup_84e3fba9191e409f9fc865b676e3455d.setContent(html_34077a30024c4e25bbb90ed278163b6c);
            

            marker_fb3d273d51864a7db538c467f4ed9b91.bindPopup(popup_84e3fba9191e409f9fc865b676e3455d);

            
        
    

            var marker_438a2ad7288b4c18ab8f5b0792aa2472 = L.marker(
                [-6.206667,106.833611],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_829a984685a649f3b6fd0dd7268f3f84 = L.popup({maxWidth: '300'});

            
                var html_de679535df82426d84f3769289bb2c6e = $('<div id="html_de679535df82426d84f3769289bb2c6e" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN SETIABUDI</div>')[0];
                popup_829a984685a649f3b6fd0dd7268f3f84.setContent(html_de679535df82426d84f3769289bb2c6e);
            

            marker_438a2ad7288b4c18ab8f5b0792aa2472.bindPopup(popup_829a984685a649f3b6fd0dd7268f3f84);

            
        
    

            var marker_b4f45cb6ed634aef9def67ea4993f09a = L.marker(
                [-6.339167,106.861389],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_40573cc2d637467194865dea26fea552 = L.popup({maxWidth: '300'});

            
                var html_fdcf327ca011409d8a446479bc2506eb = $('<div id="html_fdcf327ca011409d8a446479bc2506eb" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PASAR REBO</div>')[0];
                popup_40573cc2d637467194865dea26fea552.setContent(html_fdcf327ca011409d8a446479bc2506eb);
            

            marker_b4f45cb6ed634aef9def67ea4993f09a.bindPopup(popup_40573cc2d637467194865dea26fea552);

            
        
    

            var marker_d8730239bd8444d883daece2ea0d4e9f = L.marker(
                [-6.311111,106.874443],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_18185397e066402ea10ca125e9d50784 = L.popup({maxWidth: '300'});

            
                var html_be2edaad0aa24e079fef3d843ec5fcdf = $('<div id="html_be2edaad0aa24e079fef3d843ec5fcdf" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CIRACAS</div>')[0];
                popup_18185397e066402ea10ca125e9d50784.setContent(html_be2edaad0aa24e079fef3d843ec5fcdf);
            

            marker_d8730239bd8444d883daece2ea0d4e9f.bindPopup(popup_18185397e066402ea10ca125e9d50784);

            
        
    

            var marker_5e9f3ef27495463a8101a4e313446608 = L.marker(
                [-6.291944,106.906113],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_a3f80298c57f4e30861aae5074294e02 = L.popup({maxWidth: '300'});

            
                var html_acbe0a4c7bc7474bad8c549b21c77a6d = $('<div id="html_acbe0a4c7bc7474bad8c549b21c77a6d" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CIPAYUNG</div>')[0];
                popup_a3f80298c57f4e30861aae5074294e02.setContent(html_acbe0a4c7bc7474bad8c549b21c77a6d);
            

            marker_5e9f3ef27495463a8101a4e313446608.bindPopup(popup_a3f80298c57f4e30861aae5074294e02);

            
        
    

            var marker_7cf27f2a63474507859645529e2657bd = L.marker(
                [-6.282222,106.878059],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_e8c2e0b06e7e4d738c0ae9a4f092a26c = L.popup({maxWidth: '300'});

            
                var html_059cbcacdf624cf7b73fc7efb274ec86 = $('<div id="html_059cbcacdf624cf7b73fc7efb274ec86" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN MAKASAR</div>')[0];
                popup_e8c2e0b06e7e4d738c0ae9a4f092a26c.setContent(html_059cbcacdf624cf7b73fc7efb274ec86);
            

            marker_7cf27f2a63474507859645529e2657bd.bindPopup(popup_e8c2e0b06e7e4d738c0ae9a4f092a26c);

            
        
    

            var marker_d6e507d3cbaa45d597cf485f1e635520 = L.marker(
                [-6.269722,106.868057],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_e3dec6a727c54ebf9b6de1c83b4a578c = L.popup({maxWidth: '300'});

            
                var html_1f2ffc3f735c45198ceff7cb427d772e = $('<div id="html_1f2ffc3f735c45198ceff7cb427d772e" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KRAMAT JATI</div>')[0];
                popup_e3dec6a727c54ebf9b6de1c83b4a578c.setContent(html_1f2ffc3f735c45198ceff7cb427d772e);
            

            marker_d6e507d3cbaa45d597cf485f1e635520.bindPopup(popup_e3dec6a727c54ebf9b6de1c83b4a578c);

            
        
    

            var marker_71b60992fbf34450b6eb7b91ade5c6d0 = L.marker(
                [-6.213889,106.862778],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_f43d3c1c427149b0a94a668261a1a2ba = L.popup({maxWidth: '300'});

            
                var html_d2ae4b52c9bc4afab0f205cdb189ca6a = $('<div id="html_d2ae4b52c9bc4afab0f205cdb189ca6a" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN JATINEGARA</div>')[0];
                popup_f43d3c1c427149b0a94a668261a1a2ba.setContent(html_d2ae4b52c9bc4afab0f205cdb189ca6a);
            

            marker_71b60992fbf34450b6eb7b91ade5c6d0.bindPopup(popup_f43d3c1c427149b0a94a668261a1a2ba);

            
        
    

            var marker_63676ba32ad547b3a5302b6e4a0bcfbb = L.marker(
                [-6.241944,106.910835],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_048f275290344e6fa5d7a11a4f7cfc9c = L.popup({maxWidth: '300'});

            
                var html_126e22b02ab2492293b7053d438ca201 = $('<div id="html_126e22b02ab2492293b7053d438ca201" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN DUREN SAWIT</div>')[0];
                popup_048f275290344e6fa5d7a11a4f7cfc9c.setContent(html_126e22b02ab2492293b7053d438ca201);
            

            marker_63676ba32ad547b3a5302b6e4a0bcfbb.bindPopup(popup_048f275290344e6fa5d7a11a4f7cfc9c);

            
        
    

            var marker_0d7a5a823251496b85373220af67d9ee = L.marker(
                [-6.198056,106.905281],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_6d26e95dd99b4983b1fe40acbd6413c1 = L.popup({maxWidth: '300'});

            
                var html_8a407b7dc3e84d9894cc43e6e64de9dd = $('<div id="html_8a407b7dc3e84d9894cc43e6e64de9dd" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CAKUNG</div>')[0];
                popup_6d26e95dd99b4983b1fe40acbd6413c1.setContent(html_8a407b7dc3e84d9894cc43e6e64de9dd);
            

            marker_0d7a5a823251496b85373220af67d9ee.bindPopup(popup_6d26e95dd99b4983b1fe40acbd6413c1);

            
        
    

            var marker_45dae7aecda04d6ab8af1da56d70dea4 = L.marker(
                [-6.186389,106.895554],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_edd13ffeeac1428b86a4ca71d04ef66e = L.popup({maxWidth: '300'});

            
                var html_7e862695858741919c822abd1d6d5a24 = $('<div id="html_7e862695858741919c822abd1d6d5a24" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PULO GADUNG</div>')[0];
                popup_edd13ffeeac1428b86a4ca71d04ef66e.setContent(html_7e862695858741919c822abd1d6d5a24);
            

            marker_45dae7aecda04d6ab8af1da56d70dea4.bindPopup(popup_edd13ffeeac1428b86a4ca71d04ef66e);

            
        
    

            var marker_1bda152ab86643b78f582ff9dfa991ef = L.marker(
                [-6.206111,106.85611],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_344534dc4f5644478f854db14414f8cd = L.popup({maxWidth: '300'});

            
                var html_871d81aad7424878a490ef2e7dfe0298 = $('<div id="html_871d81aad7424878a490ef2e7dfe0298" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN MATRAMAN</div>')[0];
                popup_344534dc4f5644478f854db14414f8cd.setContent(html_871d81aad7424878a490ef2e7dfe0298);
            

            marker_1bda152ab86643b78f582ff9dfa991ef.bindPopup(popup_344534dc4f5644478f854db14414f8cd);

            
        
    

            var marker_a4b4b492ca1340b2894fa96708905b52 = L.marker(
                [-6.191111,106.81472],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_f2ca57dd4a9d4628b580947b98d714e9 = L.popup({maxWidth: '300'});

            
                var html_83193eb4ec3641228bda04eda1429968 = $('<div id="html_83193eb4ec3641228bda04eda1429968" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN TANAH ABANG</div>')[0];
                popup_f2ca57dd4a9d4628b580947b98d714e9.setContent(html_83193eb4ec3641228bda04eda1429968);
            

            marker_a4b4b492ca1340b2894fa96708905b52.bindPopup(popup_f2ca57dd4a9d4628b580947b98d714e9);

            
        
    

            var marker_e62c56ea84924bd3a6d93e063514d975 = L.marker(
                [-6.199444,106.84111],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_908b95a1e82b4556b5dbfcb1fbcce982 = L.popup({maxWidth: '300'});

            
                var html_fa1afe910d61457b8b2fec10eaae88e0 = $('<div id="html_fa1afe910d61457b8b2fec10eaae88e0" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN MENTENG</div>')[0];
                popup_908b95a1e82b4556b5dbfcb1fbcce982.setContent(html_fa1afe910d61457b8b2fec10eaae88e0);
            

            marker_e62c56ea84924bd3a6d93e063514d975.bindPopup(popup_908b95a1e82b4556b5dbfcb1fbcce982);

            
        
    

            var marker_6f974e9720184512b2b41037b4baeacc = L.marker(
                [-6.189722,106.842781],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_f011be021dfc4c918172a9f42016429b = L.popup({maxWidth: '300'});

            
                var html_5b2929f7b03e4c0dbfd122ea7db1f7fb = $('<div id="html_5b2929f7b03e4c0dbfd122ea7db1f7fb" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN SENEN</div>')[0];
                popup_f011be021dfc4c918172a9f42016429b.setContent(html_5b2929f7b03e4c0dbfd122ea7db1f7fb);
            

            marker_6f974e9720184512b2b41037b4baeacc.bindPopup(popup_f011be021dfc4c918172a9f42016429b);

            
        
    

            var marker_1857365b47614022aee0e73834f180fa = L.marker(
                [-6.181944,106.861664],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_96d05c07118b4570a55a245c756d75ca = L.popup({maxWidth: '300'});

            
                var html_c81042a0af684a839e7539398218d54e = $('<div id="html_c81042a0af684a839e7539398218d54e" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN JOHAR BARU</div>')[0];
                popup_96d05c07118b4570a55a245c756d75ca.setContent(html_c81042a0af684a839e7539398218d54e);
            

            marker_1857365b47614022aee0e73834f180fa.bindPopup(popup_96d05c07118b4570a55a245c756d75ca);

            
        
    

            var marker_23af037f233343d0b2737a8931e43deb = L.marker(
                [-6.175556,106.861115],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_994189140baf409395a9fd6b0f43ad4f = L.popup({maxWidth: '300'});

            
                var html_dc3a5e8372ea451290827446a4ce5ba5 = $('<div id="html_dc3a5e8372ea451290827446a4ce5ba5" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CEMPAKA PUTIH</div>')[0];
                popup_994189140baf409395a9fd6b0f43ad4f.setContent(html_dc3a5e8372ea451290827446a4ce5ba5);
            

            marker_23af037f233343d0b2737a8931e43deb.bindPopup(popup_994189140baf409395a9fd6b0f43ad4f);

            
        
    

            var marker_5b10031a31e54d78bb946f940d7c5b5e = L.marker(
                [-6.171389,106.855553],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_eedc25374e884c5e834df02b4f779641 = L.popup({maxWidth: '300'});

            
                var html_432a993bac0c4dea95e783c2c9904f88 = $('<div id="html_432a993bac0c4dea95e783c2c9904f88" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KEMAYORAN</div>')[0];
                popup_eedc25374e884c5e834df02b4f779641.setContent(html_432a993bac0c4dea95e783c2c9904f88);
            

            marker_5b10031a31e54d78bb946f940d7c5b5e.bindPopup(popup_eedc25374e884c5e834df02b4f779641);

            
        
    

            var marker_18ad1d7c43bd42989b070eb101bc3c84 = L.marker(
                [-6.137778,106.826942],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_547a1f91d1374efb9cdde288645fa4dd = L.popup({maxWidth: '300'});

            
                var html_85953338b262498cad41da667b6e8314 = $('<div id="html_85953338b262498cad41da667b6e8314" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN SAWAH BESAR</div>')[0];
                popup_547a1f91d1374efb9cdde288645fa4dd.setContent(html_85953338b262498cad41da667b6e8314);
            

            marker_18ad1d7c43bd42989b070eb101bc3c84.bindPopup(popup_547a1f91d1374efb9cdde288645fa4dd);

            
        
    

            var marker_610540704c764e4c9dca3f592abf5f6f = L.marker(
                [-6.170556,106.819168],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_4c4e790a664544559fded5b222a9192d = L.popup({maxWidth: '300'});

            
                var html_134535c7359d445bad82a4840f15afb1 = $('<div id="html_134535c7359d445bad82a4840f15afb1" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN GAMBIR</div>')[0];
                popup_4c4e790a664544559fded5b222a9192d.setContent(html_134535c7359d445bad82a4840f15afb1);
            

            marker_610540704c764e4c9dca3f592abf5f6f.bindPopup(popup_4c4e790a664544559fded5b222a9192d);

            
        
    

            var marker_8a8b5643bb5a4b449f296db9bbebeec0 = L.marker(
                [-6.214444,106.724167],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_a3cf9cf29879405e925d9289fb714fcf = L.popup({maxWidth: '300'});

            
                var html_cbcf9c6e02ea492e859cd41ca65f7c06 = $('<div id="html_cbcf9c6e02ea492e859cd41ca65f7c06" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KEMBANGAN</div>')[0];
                popup_a3cf9cf29879405e925d9289fb714fcf.setContent(html_cbcf9c6e02ea492e859cd41ca65f7c06);
            

            marker_8a8b5643bb5a4b449f296db9bbebeec0.bindPopup(popup_a3cf9cf29879405e925d9289fb714fcf);

            
        
    

            var marker_de81c38c489f411bacd8e30890da958a = L.marker(
                [-6.198889,106.765282],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_686191255edc4438aab2c669e26080c1 = L.popup({maxWidth: '300'});

            
                var html_670df00cb15d45d8bcd6c63464991a9e = $('<div id="html_670df00cb15d45d8bcd6c63464991a9e" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KEBON JERUK</div>')[0];
                popup_686191255edc4438aab2c669e26080c1.setContent(html_670df00cb15d45d8bcd6c63464991a9e);
            

            marker_de81c38c489f411bacd8e30890da958a.bindPopup(popup_686191255edc4438aab2c669e26080c1);

            
        
    

            var marker_011cf12dfe1c4c8d9ecb68332119962a = L.marker(
                [-6.208333,106.788612],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_0bcd137a415842a8a144921a11ee8b37 = L.popup({maxWidth: '300'});

            
                var html_b85cbfcb3c744c2a904dab08ea9cae3c = $('<div id="html_b85cbfcb3c744c2a904dab08ea9cae3c" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PAL MERAH</div>')[0];
                popup_0bcd137a415842a8a144921a11ee8b37.setContent(html_b85cbfcb3c744c2a904dab08ea9cae3c);
            

            marker_011cf12dfe1c4c8d9ecb68332119962a.bindPopup(popup_0bcd137a415842a8a144921a11ee8b37);

            
        
    

            var marker_fcca7d1342394a2f8df5a600aa0dcdb4 = L.marker(
                [-6.151111,106.779724],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_079133aedd7e4f0a9d6458ada5ebac35 = L.popup({maxWidth: '300'});

            
                var html_060d8ee441c54357af76238dca8e9ab4 = $('<div id="html_060d8ee441c54357af76238dca8e9ab4" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN GROGOL PETAMBURAN</div>')[0];
                popup_079133aedd7e4f0a9d6458ada5ebac35.setContent(html_060d8ee441c54357af76238dca8e9ab4);
            

            marker_fcca7d1342394a2f8df5a600aa0dcdb4.bindPopup(popup_079133aedd7e4f0a9d6458ada5ebac35);

            
        
    

            var marker_78d1f7ca198f42fc9670a8eb79a44306 = L.marker(
                [-6.148056,106.804726],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_1856b90bafa640f282d2976d02a49190 = L.popup({maxWidth: '300'});

            
                var html_3e4757fa3130423d80b41ca79ba446b7 = $('<div id="html_3e4757fa3130423d80b41ca79ba446b7" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN TAMBORA</div>')[0];
                popup_1856b90bafa640f282d2976d02a49190.setContent(html_3e4757fa3130423d80b41ca79ba446b7);
            

            marker_78d1f7ca198f42fc9670a8eb79a44306.bindPopup(popup_1856b90bafa640f282d2976d02a49190);

            
        
    

            var marker_fe83de4eee3440cc9a32cc2eda539772 = L.marker(
                [-6.143889,106.819168],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_7696262524d342318c2dedae80f48ed2 = L.popup({maxWidth: '300'});

            
                var html_e149c337ef864d5291d565247424fb29 = $('<div id="html_e149c337ef864d5291d565247424fb29" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN TAMANSARI</div>')[0];
                popup_7696262524d342318c2dedae80f48ed2.setContent(html_e149c337ef864d5291d565247424fb29);
            

            marker_fe83de4eee3440cc9a32cc2eda539772.bindPopup(popup_7696262524d342318c2dedae80f48ed2);

            
        
    

            var marker_191f5a5d0c914b15b34f0bbfa8363c01 = L.marker(
                [-6.144444,106.728615],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_da589993a8db4e8fa7a390041bb090f0 = L.popup({maxWidth: '300'});

            
                var html_1f03fda3bf1446f1baeafae80d4962f5 = $('<div id="html_1f03fda3bf1446f1baeafae80d4962f5" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CENGKARENG</div>')[0];
                popup_da589993a8db4e8fa7a390041bb090f0.setContent(html_1f03fda3bf1446f1baeafae80d4962f5);
            

            marker_191f5a5d0c914b15b34f0bbfa8363c01.bindPopup(popup_da589993a8db4e8fa7a390041bb090f0);

            
        
    

            var marker_5cbfe88933724c2cb29728d576f92f8b = L.marker(
                [-6.12677,106.7162256],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_94a431021369412da01076d406fae5a4 = L.popup({maxWidth: '300'});

            
                var html_7bc951a3054f4f2ab1eba2174469e660 = $('<div id="html_7bc951a3054f4f2ab1eba2174469e660" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KALIDERES</div>')[0];
                popup_94a431021369412da01076d406fae5a4.setContent(html_7bc951a3054f4f2ab1eba2174469e660);
            

            marker_5cbfe88933724c2cb29728d576f92f8b.bindPopup(popup_94a431021369412da01076d406fae5a4);

            
        
    

            var marker_3eb4411a9f874781afe3fa6b117c8e91 = L.marker(
                [-6.138333,106.781113],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_4ecc291812cf48d1b02d81c216a1cbdb = L.popup({maxWidth: '300'});

            
                var html_15469e79458e4582ba9317b4bc9046c9 = $('<div id="html_15469e79458e4582ba9317b4bc9046c9" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PENJARINGAN</div>')[0];
                popup_4ecc291812cf48d1b02d81c216a1cbdb.setContent(html_15469e79458e4582ba9317b4bc9046c9);
            

            marker_3eb4411a9f874781afe3fa6b117c8e91.bindPopup(popup_4ecc291812cf48d1b02d81c216a1cbdb);

            
        
    

            var marker_2b52d6cc4cef4458a4459db2c3c5f49c = L.marker(
                [-6.136944,106.843613],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_9a4d2cf587b34eadac39eec0fa10293c = L.popup({maxWidth: '300'});

            
                var html_45e040a620bd42d898cc0c1e37980dfa = $('<div id="html_45e040a620bd42d898cc0c1e37980dfa" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PADEMANGAN</div>')[0];
                popup_9a4d2cf587b34eadac39eec0fa10293c.setContent(html_45e040a620bd42d898cc0c1e37980dfa);
            

            marker_2b52d6cc4cef4458a4459db2c3c5f49c.bindPopup(popup_9a4d2cf587b34eadac39eec0fa10293c);

            
        
    

            var marker_3a19af88ec0346dc8c8da10224104b4a = L.marker(
                [-6.116111,106.889168],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_82dae5d9ebdb425898b64d12ddee6c38 = L.popup({maxWidth: '300'});

            
                var html_760f75580d1541928f03137918e5abc6 = $('<div id="html_760f75580d1541928f03137918e5abc6" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN TANJUNG PRIOK</div>')[0];
                popup_82dae5d9ebdb425898b64d12ddee6c38.setContent(html_760f75580d1541928f03137918e5abc6);
            

            marker_3a19af88ec0346dc8c8da10224104b4a.bindPopup(popup_82dae5d9ebdb425898b64d12ddee6c38);

            
        
    

            var marker_025673bdbe9342d8b07e26a0c2262ad3 = L.marker(
                [-6.119444,106.919441],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_576bf2c904924ad2b5dc87ec4d10ae5b = L.popup({maxWidth: '300'});

            
                var html_8c96732f881b42e3a1ea7e7805ea74c2 = $('<div id="html_8c96732f881b42e3a1ea7e7805ea74c2" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KOJA</div>')[0];
                popup_576bf2c904924ad2b5dc87ec4d10ae5b.setContent(html_8c96732f881b42e3a1ea7e7805ea74c2);
            

            marker_025673bdbe9342d8b07e26a0c2262ad3.bindPopup(popup_576bf2c904924ad2b5dc87ec4d10ae5b);

            
        
    

            var marker_c656cd48a23a48ab85bf31d7f096964b = L.marker(
                [-6.155915,106.904785],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_cf6eceb72724458ebeece1410d6f96c2 = L.popup({maxWidth: '300'});

            
                var html_fd66e91d9d344d61be3d81a5088317a1 = $('<div id="html_fd66e91d9d344d61be3d81a5088317a1" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KELAPA GADING</div>')[0];
                popup_cf6eceb72724458ebeece1410d6f96c2.setContent(html_fd66e91d9d344d61be3d81a5088317a1);
            

            marker_c656cd48a23a48ab85bf31d7f096964b.bindPopup(popup_cf6eceb72724458ebeece1410d6f96c2);

            
        
    

            var marker_8b15d5849e404c66bace68e6e3bc9176 = L.marker(
                [-6.148333,106.924446],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_ea6b89e20e774f98bd930aa24a8a3410 = L.popup({maxWidth: '300'});

            
                var html_5859cffcf32d499da57e94d994003c63 = $('<div id="html_5859cffcf32d499da57e94d994003c63" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CILINCING</div>')[0];
                popup_ea6b89e20e774f98bd930aa24a8a3410.setContent(html_5859cffcf32d499da57e94d994003c63);
            

            marker_8b15d5849e404c66bace68e6e3bc9176.bindPopup(popup_ea6b89e20e774f98bd930aa24a8a3410);

            
        
    

            var marker_a1a2b13eb93947beae80717586630387 = L.marker(
                [-5.654261,106.567818],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_8d5aa9d2908645fd9ba854b91fd218fd = L.popup({maxWidth: '300'});

            
                var html_d2c47e3f3d474f708ac5bf8d1826a1d7 = $('<div id="html_d2c47e3f3d474f708ac5bf8d1826a1d7" style="width: 100.0%; height: 100.0%;">Pusk. Kec. Kep.Seribu Utara</div>')[0];
                popup_8d5aa9d2908645fd9ba854b91fd218fd.setContent(html_d2c47e3f3d474f708ac5bf8d1826a1d7);
            

            marker_a1a2b13eb93947beae80717586630387.bindPopup(popup_8d5aa9d2908645fd9ba854b91fd218fd);

            
        
    

            var marker_e9b5f0b1e6a54699a3ede14eeb933633 = L.marker(
                [-5.798503,106.498444],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c9d9b40bf91343259101ea7881af3cb4);
            
    
            var popup_f2c129ab7c5648d8a225791ef4a7fcfe = L.popup({maxWidth: '300'});

            
                var html_84c35890cf0447bb948133540ca29a76 = $('<div id="html_84c35890cf0447bb948133540ca29a76" style="width: 100.0%; height: 100.0%;">Pusk. Kec. Kep.Seribu Selatan</div>')[0];
                popup_f2c129ab7c5648d8a225791ef4a7fcfe.setContent(html_84c35890cf0447bb948133540ca29a76);
            

            marker_e9b5f0b1e6a54699a3ede14eeb933633.bindPopup(popup_f2c129ab7c5648d8a225791ef4a7fcfe);

            
        
</script>