<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_b71b85da1b134a99a7ea4ced5aea3f8f {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b71b85da1b134a99a7ea4ced5aea3f8f" ></div>
        
</body>
<script>    
    

            
                var southWest = L.latLng(-90, -180);
                var northEast = L.latLng(90, 180);
                var bounds = L.latLngBounds(southWest, northEast);
            

            var map_b71b85da1b134a99a7ea4ced5aea3f8f = L.map(
                                  'map_b71b85da1b134a99a7ea4ced5aea3f8f',
                                  {center: [-6.21462,106.865],
                                  zoom: 10,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_01402f1ad2e648f6836df9fc6235ca63 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    continuousWorld: false,
                    noWrap: false,
                    attribution: 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                    detectRetina: false
                    }
                ).addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);

        
    

            var marker_c7e9f16ac4be4ae487b03e6910d2328d = L.marker(
                [-6.351944,106.814163],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_cadfa09c4eea4e26bcfe1980e766777f = L.popup({maxWidth: '300'});

            
                var html_0dd0b852435d44d0a53fc89994fe3407 = $('<div id="html_0dd0b852435d44d0a53fc89994fe3407" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN JAGAKARSA</div>')[0];
                popup_cadfa09c4eea4e26bcfe1980e766777f.setContent(html_0dd0b852435d44d0a53fc89994fe3407);
            

            marker_c7e9f16ac4be4ae487b03e6910d2328d.bindPopup(popup_cadfa09c4eea4e26bcfe1980e766777f);

            
        
    

            var marker_3fedda5b2dec47cd9706d14a0a5a6847 = L.marker(
                [-6.320833,106.825554],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_41b721f01fd04232b9f1a6b0ed4b2146 = L.popup({maxWidth: '300'});

            
                var html_0577dbaebad0442fa5d239b5a105510b = $('<div id="html_0577dbaebad0442fa5d239b5a105510b" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PASAR MINGGU</div>')[0];
                popup_41b721f01fd04232b9f1a6b0ed4b2146.setContent(html_0577dbaebad0442fa5d239b5a105510b);
            

            marker_3fedda5b2dec47cd9706d14a0a5a6847.bindPopup(popup_41b721f01fd04232b9f1a6b0ed4b2146);

            
        
    

            var marker_af5551f926bc4d2a86d3ceb9d27bd058 = L.marker(
                [-6.286667,106.793053],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_9c52d8a58c9347c390edd8f6fc05f871 = L.popup({maxWidth: '300'});

            
                var html_836f57033e6440b3a26e31c5df76bbaa = $('<div id="html_836f57033e6440b3a26e31c5df76bbaa" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CILANDAK</div>')[0];
                popup_9c52d8a58c9347c390edd8f6fc05f871.setContent(html_836f57033e6440b3a26e31c5df76bbaa);
            

            marker_af5551f926bc4d2a86d3ceb9d27bd058.bindPopup(popup_9c52d8a58c9347c390edd8f6fc05f871);

            
        
    

            var marker_b93ee0ed52244f53b849542a46e94ea6 = L.marker(
                [-6.245278,106.752777],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_0998ec4b53034b8398341a36341c307b = L.popup({maxWidth: '300'});

            
                var html_7dfcc06ba12a47bdb85511827ee8e4a2 = $('<div id="html_7dfcc06ba12a47bdb85511827ee8e4a2" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PESANGGRAHAN</div>')[0];
                popup_0998ec4b53034b8398341a36341c307b.setContent(html_7dfcc06ba12a47bdb85511827ee8e4a2);
            

            marker_b93ee0ed52244f53b849542a46e94ea6.bindPopup(popup_0998ec4b53034b8398341a36341c307b);

            
        
    

            var marker_d55eb99cc42e4845a4ae364b2c551be6 = L.marker(
                [-6.249722,106.778053],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_08a4d1dd295c407a9f1d00abef28caac = L.popup({maxWidth: '300'});

            
                var html_25951a9e6cc942f4abf8afe55dd3571f = $('<div id="html_25951a9e6cc942f4abf8afe55dd3571f" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KEBAYORAN LAMA</div>')[0];
                popup_08a4d1dd295c407a9f1d00abef28caac.setContent(html_25951a9e6cc942f4abf8afe55dd3571f);
            

            marker_d55eb99cc42e4845a4ae364b2c551be6.bindPopup(popup_08a4d1dd295c407a9f1d00abef28caac);

            
        
    

            var marker_20d9277d2e114d1dbdd07269821fec21 = L.marker(
                [-6.247222,106.805557],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_d661e511158443b8803dbc70e789e004 = L.popup({maxWidth: '300'});

            
                var html_032353fed0694641a0a4ebbe1dd63cd6 = $('<div id="html_032353fed0694641a0a4ebbe1dd63cd6" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KEBAYORAN BARU</div>')[0];
                popup_d661e511158443b8803dbc70e789e004.setContent(html_032353fed0694641a0a4ebbe1dd63cd6);
            

            marker_20d9277d2e114d1dbdd07269821fec21.bindPopup(popup_d661e511158443b8803dbc70e789e004);

            
        
    

            var marker_2507311371004140b166f21cb9e67d83 = L.marker(
                [-6.271389,106.819725],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_bf16f1ea07e04083bebed9a8a18caae9 = L.popup({maxWidth: '300'});

            
                var html_4a0af27e0e6f4027b58c114ddd66ab3d = $('<div id="html_4a0af27e0e6f4027b58c114ddd66ab3d" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN MAMPANG PRAPATAN</div>')[0];
                popup_bf16f1ea07e04083bebed9a8a18caae9.setContent(html_4a0af27e0e6f4027b58c114ddd66ab3d);
            

            marker_2507311371004140b166f21cb9e67d83.bindPopup(popup_bf16f1ea07e04083bebed9a8a18caae9);

            
        
    

            var marker_6d7d9410dfe84c01a91045f558fb224c = L.marker(
                [-6.255278,106.839165],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_785c4f781ec8413ebb740d7026d7e061 = L.popup({maxWidth: '300'});

            
                var html_5ba7a4d6fba747089c586199be03cabc = $('<div id="html_5ba7a4d6fba747089c586199be03cabc" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PANCORAN</div>')[0];
                popup_785c4f781ec8413ebb740d7026d7e061.setContent(html_5ba7a4d6fba747089c586199be03cabc);
            

            marker_6d7d9410dfe84c01a91045f558fb224c.bindPopup(popup_785c4f781ec8413ebb740d7026d7e061);

            
        
    

            var marker_f78f56d187f84031b8f5f00389033141 = L.marker(
                [-6.235556,106.856667],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_dee16ff112a144c7a558bab940dbb288 = L.popup({maxWidth: '300'});

            
                var html_33f62bd520ea44138f73f741b1672b01 = $('<div id="html_33f62bd520ea44138f73f741b1672b01" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN TEBET</div>')[0];
                popup_dee16ff112a144c7a558bab940dbb288.setContent(html_33f62bd520ea44138f73f741b1672b01);
            

            marker_f78f56d187f84031b8f5f00389033141.bindPopup(popup_dee16ff112a144c7a558bab940dbb288);

            
        
    

            var marker_5cfa71c1b6b34259801ad7606e5ac22f = L.marker(
                [-6.206667,106.833611],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_a0e824d06b0c48e58631138108804d30 = L.popup({maxWidth: '300'});

            
                var html_aa57fdde14af4a7a8dc2eac0175d2bbb = $('<div id="html_aa57fdde14af4a7a8dc2eac0175d2bbb" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN SETIABUDI</div>')[0];
                popup_a0e824d06b0c48e58631138108804d30.setContent(html_aa57fdde14af4a7a8dc2eac0175d2bbb);
            

            marker_5cfa71c1b6b34259801ad7606e5ac22f.bindPopup(popup_a0e824d06b0c48e58631138108804d30);

            
        
    

            var marker_69cea11e13e94cb895e040746770d457 = L.marker(
                [-6.339167,106.861389],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_d315e78e28a445cb8f63ed7cac3c7b04 = L.popup({maxWidth: '300'});

            
                var html_e8ccbf0697384aee89ea05e99a6989dc = $('<div id="html_e8ccbf0697384aee89ea05e99a6989dc" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PASAR REBO</div>')[0];
                popup_d315e78e28a445cb8f63ed7cac3c7b04.setContent(html_e8ccbf0697384aee89ea05e99a6989dc);
            

            marker_69cea11e13e94cb895e040746770d457.bindPopup(popup_d315e78e28a445cb8f63ed7cac3c7b04);

            
        
    

            var marker_fb1cc5b015014b0d849f85517079f2d0 = L.marker(
                [-6.311111,106.874443],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_41afb05f4f944c79a0950584b710e41e = L.popup({maxWidth: '300'});

            
                var html_5abe4dea8179482b9d29457ca08c5c8b = $('<div id="html_5abe4dea8179482b9d29457ca08c5c8b" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CIRACAS</div>')[0];
                popup_41afb05f4f944c79a0950584b710e41e.setContent(html_5abe4dea8179482b9d29457ca08c5c8b);
            

            marker_fb1cc5b015014b0d849f85517079f2d0.bindPopup(popup_41afb05f4f944c79a0950584b710e41e);

            
        
    

            var marker_f8baa6ed2d3c48008f130726b13886ff = L.marker(
                [-6.291944,106.906113],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_cfd6a3d9006143e59042cfaab0cf5385 = L.popup({maxWidth: '300'});

            
                var html_cc9630afa48f4f3dab27750667f8c403 = $('<div id="html_cc9630afa48f4f3dab27750667f8c403" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CIPAYUNG</div>')[0];
                popup_cfd6a3d9006143e59042cfaab0cf5385.setContent(html_cc9630afa48f4f3dab27750667f8c403);
            

            marker_f8baa6ed2d3c48008f130726b13886ff.bindPopup(popup_cfd6a3d9006143e59042cfaab0cf5385);

            
        
    

            var marker_721c673741cb4d6f9cd87a46529665a4 = L.marker(
                [-6.282222,106.878059],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_2769e581d739428cba269e5c6ba75685 = L.popup({maxWidth: '300'});

            
                var html_3e94867a192c411591f03344fa2f98ee = $('<div id="html_3e94867a192c411591f03344fa2f98ee" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN MAKASAR</div>')[0];
                popup_2769e581d739428cba269e5c6ba75685.setContent(html_3e94867a192c411591f03344fa2f98ee);
            

            marker_721c673741cb4d6f9cd87a46529665a4.bindPopup(popup_2769e581d739428cba269e5c6ba75685);

            
        
    

            var marker_99071cc4ca194df78cffad2a8f6339d0 = L.marker(
                [-6.269722,106.868057],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_4c1b4f8c8520467aa8283084b8695ed3 = L.popup({maxWidth: '300'});

            
                var html_e09eaf5b4f0240788ff26eb659469afd = $('<div id="html_e09eaf5b4f0240788ff26eb659469afd" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KRAMAT JATI</div>')[0];
                popup_4c1b4f8c8520467aa8283084b8695ed3.setContent(html_e09eaf5b4f0240788ff26eb659469afd);
            

            marker_99071cc4ca194df78cffad2a8f6339d0.bindPopup(popup_4c1b4f8c8520467aa8283084b8695ed3);

            
        
    

            var marker_43182b761ed34397bf9b3c7cd162d88d = L.marker(
                [-6.213889,106.862778],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_046859912a864c5fbb17571187782e9e = L.popup({maxWidth: '300'});

            
                var html_0b5193d378f64b1ebe83d0db04f8ad37 = $('<div id="html_0b5193d378f64b1ebe83d0db04f8ad37" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN JATINEGARA</div>')[0];
                popup_046859912a864c5fbb17571187782e9e.setContent(html_0b5193d378f64b1ebe83d0db04f8ad37);
            

            marker_43182b761ed34397bf9b3c7cd162d88d.bindPopup(popup_046859912a864c5fbb17571187782e9e);

            
        
    

            var marker_6d47b99be8624bb782a126dfcd9ec810 = L.marker(
                [-6.241944,106.910835],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_4a1a26aa87d74070b382e9bab1f0fb9f = L.popup({maxWidth: '300'});

            
                var html_a4d490df387346e7a3d5e902f23d2850 = $('<div id="html_a4d490df387346e7a3d5e902f23d2850" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN DUREN SAWIT</div>')[0];
                popup_4a1a26aa87d74070b382e9bab1f0fb9f.setContent(html_a4d490df387346e7a3d5e902f23d2850);
            

            marker_6d47b99be8624bb782a126dfcd9ec810.bindPopup(popup_4a1a26aa87d74070b382e9bab1f0fb9f);

            
        
    

            var marker_6bc1c82edff34e46ae337db954889d45 = L.marker(
                [-6.198056,106.905281],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_1792c1148ca74492804b281298d506f1 = L.popup({maxWidth: '300'});

            
                var html_2f15f1fa906b4282a645d1c3c77e190a = $('<div id="html_2f15f1fa906b4282a645d1c3c77e190a" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CAKUNG</div>')[0];
                popup_1792c1148ca74492804b281298d506f1.setContent(html_2f15f1fa906b4282a645d1c3c77e190a);
            

            marker_6bc1c82edff34e46ae337db954889d45.bindPopup(popup_1792c1148ca74492804b281298d506f1);

            
        
    

            var marker_17987d27061a45e58ad753f53ac50cd5 = L.marker(
                [-6.186389,106.895554],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_260bff7a9dd34d4984e121ecf6c6cbde = L.popup({maxWidth: '300'});

            
                var html_e1ae2271ce714b2fa717fb221f6d4a17 = $('<div id="html_e1ae2271ce714b2fa717fb221f6d4a17" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PULO GADUNG</div>')[0];
                popup_260bff7a9dd34d4984e121ecf6c6cbde.setContent(html_e1ae2271ce714b2fa717fb221f6d4a17);
            

            marker_17987d27061a45e58ad753f53ac50cd5.bindPopup(popup_260bff7a9dd34d4984e121ecf6c6cbde);

            
        
    

            var marker_4b95e492171e47e79bbfbba28f1b3284 = L.marker(
                [-6.206111,106.85611],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_1ba340e2071d4b0c8ea87130bdc2a3fa = L.popup({maxWidth: '300'});

            
                var html_6928e0eee0b54702a012555c7b9c9315 = $('<div id="html_6928e0eee0b54702a012555c7b9c9315" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN MATRAMAN</div>')[0];
                popup_1ba340e2071d4b0c8ea87130bdc2a3fa.setContent(html_6928e0eee0b54702a012555c7b9c9315);
            

            marker_4b95e492171e47e79bbfbba28f1b3284.bindPopup(popup_1ba340e2071d4b0c8ea87130bdc2a3fa);

            
        
    

            var marker_9a4b02f8f57b456b86f0c61e306e6ded = L.marker(
                [-6.191111,106.81472],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_a3033e1f7ad846f2808f1507257e35cd = L.popup({maxWidth: '300'});

            
                var html_e0764997f583468e959f96c1b2cd96d8 = $('<div id="html_e0764997f583468e959f96c1b2cd96d8" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN TANAH ABANG</div>')[0];
                popup_a3033e1f7ad846f2808f1507257e35cd.setContent(html_e0764997f583468e959f96c1b2cd96d8);
            

            marker_9a4b02f8f57b456b86f0c61e306e6ded.bindPopup(popup_a3033e1f7ad846f2808f1507257e35cd);

            
        
    

            var marker_bad729f005d641f586cd5eb7714dbbef = L.marker(
                [-6.199444,106.84111],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_146a8ecbf3984067af91888a702d9365 = L.popup({maxWidth: '300'});

            
                var html_b0932753fef140aaac7fd55673f29f2e = $('<div id="html_b0932753fef140aaac7fd55673f29f2e" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN MENTENG</div>')[0];
                popup_146a8ecbf3984067af91888a702d9365.setContent(html_b0932753fef140aaac7fd55673f29f2e);
            

            marker_bad729f005d641f586cd5eb7714dbbef.bindPopup(popup_146a8ecbf3984067af91888a702d9365);

            
        
    

            var marker_23767f8ccc994ddfa039fa8cddba8447 = L.marker(
                [-6.189722,106.842781],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_90f32573647042da93473149f0662dd5 = L.popup({maxWidth: '300'});

            
                var html_bf333c1496834b4d80757de82967f04a = $('<div id="html_bf333c1496834b4d80757de82967f04a" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN SENEN</div>')[0];
                popup_90f32573647042da93473149f0662dd5.setContent(html_bf333c1496834b4d80757de82967f04a);
            

            marker_23767f8ccc994ddfa039fa8cddba8447.bindPopup(popup_90f32573647042da93473149f0662dd5);

            
        
    

            var marker_a73907f230b24d31842fc13df6a65308 = L.marker(
                [-6.181944,106.861664],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_d768bc983d704d018c422c6f607a4d91 = L.popup({maxWidth: '300'});

            
                var html_03066c8c26d6431991765b9a797038be = $('<div id="html_03066c8c26d6431991765b9a797038be" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN JOHAR BARU</div>')[0];
                popup_d768bc983d704d018c422c6f607a4d91.setContent(html_03066c8c26d6431991765b9a797038be);
            

            marker_a73907f230b24d31842fc13df6a65308.bindPopup(popup_d768bc983d704d018c422c6f607a4d91);

            
        
    

            var marker_63f32f8047584df7866b484fc265ca96 = L.marker(
                [-6.175556,106.861115],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_9d7f686188934ad0843e9c8546fb4d84 = L.popup({maxWidth: '300'});

            
                var html_5494222d685740cdba26f4914f13b783 = $('<div id="html_5494222d685740cdba26f4914f13b783" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CEMPAKA PUTIH</div>')[0];
                popup_9d7f686188934ad0843e9c8546fb4d84.setContent(html_5494222d685740cdba26f4914f13b783);
            

            marker_63f32f8047584df7866b484fc265ca96.bindPopup(popup_9d7f686188934ad0843e9c8546fb4d84);

            
        
    

            var marker_01affb9ec6d147c88a5e12ed8375a420 = L.marker(
                [-6.171389,106.855553],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_e0342942614d4a9899f0f8521afb1c0e = L.popup({maxWidth: '300'});

            
                var html_bed5cc683c3948069538b86ba78b1246 = $('<div id="html_bed5cc683c3948069538b86ba78b1246" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KEMAYORAN</div>')[0];
                popup_e0342942614d4a9899f0f8521afb1c0e.setContent(html_bed5cc683c3948069538b86ba78b1246);
            

            marker_01affb9ec6d147c88a5e12ed8375a420.bindPopup(popup_e0342942614d4a9899f0f8521afb1c0e);

            
        
    

            var marker_2530b66f741d42a48ae162bb14c4e50c = L.marker(
                [-6.137778,106.826942],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_acebaac0f44b4c6d8bf6be98f5f20940 = L.popup({maxWidth: '300'});

            
                var html_e30f8970626d42c7b2e47d4a05dd4931 = $('<div id="html_e30f8970626d42c7b2e47d4a05dd4931" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN SAWAH BESAR</div>')[0];
                popup_acebaac0f44b4c6d8bf6be98f5f20940.setContent(html_e30f8970626d42c7b2e47d4a05dd4931);
            

            marker_2530b66f741d42a48ae162bb14c4e50c.bindPopup(popup_acebaac0f44b4c6d8bf6be98f5f20940);

            
        
    

            var marker_509b6462bbfd40ac9624be9db1516a94 = L.marker(
                [-6.170556,106.819168],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_d3625e4d56244a0b8f6ed805e186e72a = L.popup({maxWidth: '300'});

            
                var html_e16f716289ea4cd3b26f83b5f26854c6 = $('<div id="html_e16f716289ea4cd3b26f83b5f26854c6" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN GAMBIR</div>')[0];
                popup_d3625e4d56244a0b8f6ed805e186e72a.setContent(html_e16f716289ea4cd3b26f83b5f26854c6);
            

            marker_509b6462bbfd40ac9624be9db1516a94.bindPopup(popup_d3625e4d56244a0b8f6ed805e186e72a);

            
        
    

            var marker_35f3b1f7e28148f7928671ae87ce8de4 = L.marker(
                [-6.214444,106.724167],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_69e898b2f950408f8fb2e12df023bdcc = L.popup({maxWidth: '300'});

            
                var html_1801125fc6c8416a9a0bdd75b794edab = $('<div id="html_1801125fc6c8416a9a0bdd75b794edab" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KEMBANGAN</div>')[0];
                popup_69e898b2f950408f8fb2e12df023bdcc.setContent(html_1801125fc6c8416a9a0bdd75b794edab);
            

            marker_35f3b1f7e28148f7928671ae87ce8de4.bindPopup(popup_69e898b2f950408f8fb2e12df023bdcc);

            
        
    

            var marker_f360799e45a743e1b22155a7a3faba20 = L.marker(
                [-6.198889,106.765282],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_2123f741989147879c57ac2d85d7220d = L.popup({maxWidth: '300'});

            
                var html_5d5a69ca168b4d5ea807b5bd98e2f7d9 = $('<div id="html_5d5a69ca168b4d5ea807b5bd98e2f7d9" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KEBON JERUK</div>')[0];
                popup_2123f741989147879c57ac2d85d7220d.setContent(html_5d5a69ca168b4d5ea807b5bd98e2f7d9);
            

            marker_f360799e45a743e1b22155a7a3faba20.bindPopup(popup_2123f741989147879c57ac2d85d7220d);

            
        
    

            var marker_756b2d737c71444c9478a33af408a561 = L.marker(
                [-6.208333,106.788612],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_c918582eb6244cbc8add42ddc09bc9c2 = L.popup({maxWidth: '300'});

            
                var html_d9ca2a1777d34e8a834ca52070896e89 = $('<div id="html_d9ca2a1777d34e8a834ca52070896e89" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PAL MERAH</div>')[0];
                popup_c918582eb6244cbc8add42ddc09bc9c2.setContent(html_d9ca2a1777d34e8a834ca52070896e89);
            

            marker_756b2d737c71444c9478a33af408a561.bindPopup(popup_c918582eb6244cbc8add42ddc09bc9c2);

            
        
    

            var marker_58dd7635630248eabc3bfc334595b9ac = L.marker(
                [-6.151111,106.779724],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_5f8c547f9ad848599d9bef14668f1341 = L.popup({maxWidth: '300'});

            
                var html_49a9656bf2154206a85d2209e296b273 = $('<div id="html_49a9656bf2154206a85d2209e296b273" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN GROGOL PETAMBURAN</div>')[0];
                popup_5f8c547f9ad848599d9bef14668f1341.setContent(html_49a9656bf2154206a85d2209e296b273);
            

            marker_58dd7635630248eabc3bfc334595b9ac.bindPopup(popup_5f8c547f9ad848599d9bef14668f1341);

            
        
    

            var marker_9f97382babb14d76952aeed91eb2e94b = L.marker(
                [-6.148056,106.804726],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_2ef1f42d461f4d5fb7d19660adaf5ec2 = L.popup({maxWidth: '300'});

            
                var html_a7e3804a7b0847e8807ff0efe6133c99 = $('<div id="html_a7e3804a7b0847e8807ff0efe6133c99" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN TAMBORA</div>')[0];
                popup_2ef1f42d461f4d5fb7d19660adaf5ec2.setContent(html_a7e3804a7b0847e8807ff0efe6133c99);
            

            marker_9f97382babb14d76952aeed91eb2e94b.bindPopup(popup_2ef1f42d461f4d5fb7d19660adaf5ec2);

            
        
    

            var marker_9f606c4a39374173a0b05e89c79ad53e = L.marker(
                [-6.143889,106.819168],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_a1b97596d68d459ebbbf399120071f41 = L.popup({maxWidth: '300'});

            
                var html_f85821ba06aa4e0885e119213a4590a9 = $('<div id="html_f85821ba06aa4e0885e119213a4590a9" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN TAMANSARI</div>')[0];
                popup_a1b97596d68d459ebbbf399120071f41.setContent(html_f85821ba06aa4e0885e119213a4590a9);
            

            marker_9f606c4a39374173a0b05e89c79ad53e.bindPopup(popup_a1b97596d68d459ebbbf399120071f41);

            
        
    

            var marker_1e69abb4b3144e738d52e9d0278a6f60 = L.marker(
                [-6.144444,106.728615],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_66bcd70248574ee28e95243bea3c538b = L.popup({maxWidth: '300'});

            
                var html_01ed25e8496749fd97944195c30ca21d = $('<div id="html_01ed25e8496749fd97944195c30ca21d" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CENGKARENG</div>')[0];
                popup_66bcd70248574ee28e95243bea3c538b.setContent(html_01ed25e8496749fd97944195c30ca21d);
            

            marker_1e69abb4b3144e738d52e9d0278a6f60.bindPopup(popup_66bcd70248574ee28e95243bea3c538b);

            
        
    

            var marker_b7548b1741234086a7892e295386df9f = L.marker(
                [-6.12677,106.7162256],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_f6fdaa7c9b3a4c94a4d1594eaa36e3d1 = L.popup({maxWidth: '300'});

            
                var html_def5b5c8bb9947cfbb8c70bda2d442a7 = $('<div id="html_def5b5c8bb9947cfbb8c70bda2d442a7" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KALIDERES</div>')[0];
                popup_f6fdaa7c9b3a4c94a4d1594eaa36e3d1.setContent(html_def5b5c8bb9947cfbb8c70bda2d442a7);
            

            marker_b7548b1741234086a7892e295386df9f.bindPopup(popup_f6fdaa7c9b3a4c94a4d1594eaa36e3d1);

            
        
    

            var marker_5de7c435c405414888584155dd1b81fe = L.marker(
                [-6.138333,106.781113],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_60bcfc9d85604e6c8924c13dbea88bd5 = L.popup({maxWidth: '300'});

            
                var html_0249040e7e16473fa481c914e8e179d0 = $('<div id="html_0249040e7e16473fa481c914e8e179d0" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PENJARINGAN</div>')[0];
                popup_60bcfc9d85604e6c8924c13dbea88bd5.setContent(html_0249040e7e16473fa481c914e8e179d0);
            

            marker_5de7c435c405414888584155dd1b81fe.bindPopup(popup_60bcfc9d85604e6c8924c13dbea88bd5);

            
        
    

            var marker_930c96e1b6b44c39a99f68616d3d571e = L.marker(
                [-6.136944,106.843613],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_1aa43619e4464320829d7979f13f0143 = L.popup({maxWidth: '300'});

            
                var html_4c59fab4597147fcbd2250b1eb67da61 = $('<div id="html_4c59fab4597147fcbd2250b1eb67da61" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN PADEMANGAN</div>')[0];
                popup_1aa43619e4464320829d7979f13f0143.setContent(html_4c59fab4597147fcbd2250b1eb67da61);
            

            marker_930c96e1b6b44c39a99f68616d3d571e.bindPopup(popup_1aa43619e4464320829d7979f13f0143);

            
        
    

            var marker_a22636b77952424ca709a420d47de1a3 = L.marker(
                [-6.116111,106.889168],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_e30f94b5badd4c319a01ae132c1ce079 = L.popup({maxWidth: '300'});

            
                var html_be750e76622847f3ad650dbe43f540f3 = $('<div id="html_be750e76622847f3ad650dbe43f540f3" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN TANJUNG PRIOK</div>')[0];
                popup_e30f94b5badd4c319a01ae132c1ce079.setContent(html_be750e76622847f3ad650dbe43f540f3);
            

            marker_a22636b77952424ca709a420d47de1a3.bindPopup(popup_e30f94b5badd4c319a01ae132c1ce079);

            
        
    

            var marker_48191fb85e824bd69c9cb3f5c3032b96 = L.marker(
                [-6.119444,106.919441],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_cb6133756ad04abf9e39f3fcb81e2d23 = L.popup({maxWidth: '300'});

            
                var html_eca90165352744a6981ea92de30b938e = $('<div id="html_eca90165352744a6981ea92de30b938e" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KOJA</div>')[0];
                popup_cb6133756ad04abf9e39f3fcb81e2d23.setContent(html_eca90165352744a6981ea92de30b938e);
            

            marker_48191fb85e824bd69c9cb3f5c3032b96.bindPopup(popup_cb6133756ad04abf9e39f3fcb81e2d23);

            
        
    

            var marker_b2b8c709a45347459d02d6f344409968 = L.marker(
                [-6.155915,106.904785],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_787a816dc3534e66b1a71f1247dc2139 = L.popup({maxWidth: '300'});

            
                var html_57fdc727168346018a273847b7e47377 = $('<div id="html_57fdc727168346018a273847b7e47377" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN KELAPA GADING</div>')[0];
                popup_787a816dc3534e66b1a71f1247dc2139.setContent(html_57fdc727168346018a273847b7e47377);
            

            marker_b2b8c709a45347459d02d6f344409968.bindPopup(popup_787a816dc3534e66b1a71f1247dc2139);

            
        
    

            var marker_f960de5f9ad24cd6bf541bb2d31eed6d = L.marker(
                [-6.148333,106.924446],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_96e221c930f640eb9391360f64ebf4a5 = L.popup({maxWidth: '300'});

            
                var html_f47b8a17b6ab4f84838bdfc6a569d1c2 = $('<div id="html_f47b8a17b6ab4f84838bdfc6a569d1c2" style="width: 100.0%; height: 100.0%;">PUSKESMAS KECAMATAN CILINCING</div>')[0];
                popup_96e221c930f640eb9391360f64ebf4a5.setContent(html_f47b8a17b6ab4f84838bdfc6a569d1c2);
            

            marker_f960de5f9ad24cd6bf541bb2d31eed6d.bindPopup(popup_96e221c930f640eb9391360f64ebf4a5);

            
        
    

            var marker_715d42ac6cf64e28b71c72b909807e12 = L.marker(
                [-5.654261,106.567818],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_062dc7bfb05541bebc15047edd9238e8 = L.popup({maxWidth: '300'});

            
                var html_8056023373024481b8ed7b10ad046121 = $('<div id="html_8056023373024481b8ed7b10ad046121" style="width: 100.0%; height: 100.0%;">Pusk. Kec. Kep.Seribu Utara</div>')[0];
                popup_062dc7bfb05541bebc15047edd9238e8.setContent(html_8056023373024481b8ed7b10ad046121);
            

            marker_715d42ac6cf64e28b71c72b909807e12.bindPopup(popup_062dc7bfb05541bebc15047edd9238e8);

            
        
    

            var marker_5ead9979cf3a470ea4bb9c177b0c26fd = L.marker(
                [-5.798503,106.498444],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b71b85da1b134a99a7ea4ced5aea3f8f);
            
    
            var popup_185b09718ba843b4890f4454bd4b7dba = L.popup({maxWidth: '300'});

            
                var html_b964b16c9e724831a2b577ea4d609b43 = $('<div id="html_b964b16c9e724831a2b577ea4d609b43" style="width: 100.0%; height: 100.0%;">Pusk. Kec. Kep.Seribu Selatan</div>')[0];
                popup_185b09718ba843b4890f4454bd4b7dba.setContent(html_b964b16c9e724831a2b577ea4d609b43);
            

            marker_5ead9979cf3a470ea4bb9c177b0c26fd.bindPopup(popup_185b09718ba843b4890f4454bd4b7dba);

            
        
</script>